
.skillsBlock{
    background-color:rgb(181, 250, 62);
}

.skillsContainer {
    flex-direction: column;
    justify-content: space-evenly;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title {
    background-color: #eeeef5;
}

@media (max-width: 767px) {
    .skillsContainer :last-child {
        margin-bottom: 0px;
    }

}