
.navigation{
    border: 1px solid red; 
    display: flex;
    width: 65%;
    height: 80px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.navigation a {
    margin-right: 30px;
}

.navigation a:last-child {
    margin-right: 0px;
}


@media (max-width: 767px) {
    .navigation {flex-direction: column;}
    .navigation a{margin-right: 0px;}
}
