
.projectsBlock{
    background-color:rgb(181, 250, 62);
}

.projectsContainer {
    flex-direction: column;
    justify-content: space-evenly;    
}

.projects {
    border: 1px solid;
    width: 100%;
    min-height: 350px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.title {
    background-color: #eeeef5;
}

@media (max-width: 767px) {
    /*.projectsContainer { height: 100%; }*/
    .projects { margin-bottom: 10px; }
    .projectsContainer :last-child { margin-bottom: 0px; }
}